// new Arrivals
.newArrivals{
    position: relative;
    padding-bottom: 80px ;
    .title-text{
        text-align: center;
        text-transform: capitalize;
    }
    .img-holder{
        text-align: center;
    }
 }

 @include max-768 {
    .newArrivals {
        padding-bottom: 80px;
    }
 }
 //  *************************************************************************************************

 
//  Bestseller
.bestseller{
    padding: 60px 0;
    background-color: $main-color;
    background-image: url(../images/shape.png);
    background-repeat: no-repeat;
    background-position: 50% 233%;
    .title-text{
        color: #fff;
        text-align: center;
        text-transform: capitalize;
    }
    .swiper-button-prev i, .swiper-rtl .swiper-button-next i{
        opacity: 0.502;
        font-size: 24px;
        color: #ffffff;
        text-align: center;
    }
}
.item-desc{
    background-color: #fff;
}

 
//  *************************************************************************************************
 

// special offers

.special-offers{
    padding: 80px  0 ;
    position: relative;
    .title-text{
    text-align: center;
    text-transform: capitalize;
    }
    .img-holder{
        text-align: center;
    }
}
.item-parent{
    position: relative;
}



//  *************************************************************************************************



// general 


 
 @include max-768 {
    .bestseller , .special-offers  {
        padding: 50px 0 80px 0;
    }
 }


 @include max-1200 {
    .bestseller {
        background-image: none;
    }
 }


 .special-offers , .newArrivals , .clients-opinions {
    .swiper-pagination-bullet-active {
        background-color: $main-color;
    }
 }